[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "autogen-kubernetes"
version = "0.6.0"
license = {file = "LICENSE-CODE"}
description = "autogen kubernetes extension"
keywords = ["autogen", "agent", "AI", "kubernetes"]
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "autogen-core>=0.5.2",
    "httpx",
    "kubernetes>=27.0.0",
    "websockets",
    "PyYAML",
    "asyncio_atexit>=1.0.1"
]

[tool.uv]
dev-dependencies = [
    "autogen-agentchat>=0.5.2",
    "types-pyyaml",
    "kubernetes-stubs"
]

[tool.hatch.build.target.wheel]
packages = ["src/autogen_kubernetes"]

[tool.ruff]
extend = "../../pyproject.toml"
include = ["src/**", "tests/*.py"]

[tool.pytest.ini_options]
minversion = "6.0"
testpaths = ["tests"]
asyncio_default_fixture_loop_scope = "module"

[tool.poe]
include = "../../shared_tasks.toml"

[tool.poe.tasks]
test = "pytest -n auto"

[tool.mypy]
[[tool.mypy.overrides]]
module = "kubernetes.*"
ignore_missing_imports = true
